* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #212529;

}


h1 {
    color: #fafafa;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
    margin: 25px 0px 100px 0px;
    min-width: 300px;
}


.super-heros {
    color: #e3f4ff;
    font-size: 25px;
    min-width: 300px;
    margin: 10px 5px 17px 5px;
}

#text-hero {
    color: #c9dcfd;
    font-size: 18px;
    margin: active;
    min-width: 300px;
    margin: 10px 5px 17px 5px;
}

.img-superhero {
    display: block;
    margin: auto;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #c9c9c9;
    position: relative;
    min-width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 300px;
}






#banner {
    min-width: 300px;
    box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 100%;
    margin-top: 0px;
    padding: -0px 0px 0px 0px;
    margin-top: -4px;
    margin-left: 0px;
    margin-bottom: 100px;
    box-shadow: 1px 2px 2px #80404b;

}



#link-superhero {
    margin-top: 5px;
    margin-bottom: 90px;
    font-size: 18px;
    min-width: 300px;
    text-align: center;
    margin-right: 20px;
}

A:link {
    text-decoration: none;
    color: #bccef0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

A:hover {
    color: #6a7c99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    ;
    text-decoration: none
}

A:visited {
    color: #6a7c99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none
}

.link-superhero {
    margin: 5px;
    position: relative;
    margin-bottom: 10px;

}

.superhero-other {
    text-align: center;
    color: #e3f4ff;
    font-size: 24px;
    margin: active;
    min-width: 300px;
    margin: 10px 5px 17px 5px;
}