* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #212529;

}


h1 {
    color: #fafafa;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
    margin: 25px 0px 100px 0px;
    min-width: 300px;
}


.super-heros {
    color: #e3f4ff;
    font-size: 25px;
    min-width: 300px;
    margin: 10px 5px 17px 5px;
}

#text-hero {
    color: #c9dcfd;
    font-size: 18px;
    margin: active;
    min-width: 300px;
    margin: 10px 5px 17px 5px;
}

.img-superhero {
    display: block;
    margin: auto;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #c9c9c9;
    position: relative;
    min-width: 300px;
}


#banner {
    min-width: 300px;
    box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    width: 100%;
    height: 190px;
    margin-top: 0px;
    background-image: url(../Pictures/banner.jpg);
    background-size: 100% 100%;
    padding: -0px 0px 0px 0px;
    margin-top: -4px;
    margin-left: 0px;
    margin-bottom: 100px;
    box-shadow: 1px 2px 2px #80404b;

}