*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: #edf2f4;

}
h1{
    color: #2b2d42;
    text-align: left;
    margin-bottom: 100px;
}
#super-heros{
    color: #457B9D;
    margin-left: 8px;
    margin-bottom: 5px;
}
p {
    color:  #8d99ae;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
}
img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: #2B2D42;
}